/* Navigation Bar */
nav {
font-family: 'Quicksand', sans-serif;
font-weight: 300;
background-color: rgba(0, 0, 0, .4);
position: fixed;
top: 0;
left: 0;
width: 100%;
text-align: center;

}

nav ul {
  list-style-type: none;
  padding: 10px 30px 5px 0px;
  color:black;


}
nav li {
  display: inline;
  padding: 50px;

}
h1 {
  font-size: 70px;
  padding-bottom: 10px;
}
h2 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color:black;
  transition: 0.5s ease;
  text-decoration: none; 
  display: inline-block;
}


a:after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 0;
    transition: 0.5s ease;
}


a:hover:after { 
  width: 100%; 
}
/* End Nav Bar */