/*layout rules*/

#wrapper {
  width: 900px;
  margin: 135px auto 0px auto;
}

.user_profile {
  background-color: rgb(105, 154, 154);
  width: 900px;
  height: 160px;
  margin-bottom: 20px;
}

.image_wrapper {
  float: left;
  height: 100%;
  width: 160px;
}

.user_text {
  float: left;
  height: 100%;
  width: 300px;
}

.user_info {
  float: left;
  /*height: 100%;*/
  width: 400px;
  padding-left: 20px;
}

.thumb {
  border-radius: 50%;
  width: 120px;
  margin-top: 20px;
  margin-left: 24px;
}

/*style rules*/

#wrapper h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  padding: 30px 0px;
  /*text-align: center;*/
}

.username {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  padding: 10px;
  padding-top: 30px;

}

.user_status {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  padding: 12px;
  font-style: italic;
}

.user_info {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.user_info li {
  padding: 12px;
  font-weight: bold
}

.user_info li span {
  font-weight: normal;
}

