body {
  background: url("../img/dog2.jpg") no-repeat center;
  background-size: cover;
  margin-bottom:0;
  background-position: top;
  max-width: 100vw;
}
@media (max-width: 900px) {
  .welcome {
    width: 300px;
  }
}
@media (max-width: 1200px){
  .welcome{
    width: 500px;
  }
}
@media (max-width: 600px){
  .welcome{
    width: 300px;
  }
}
