/* Navigation Bar */
nav {
font-family: 'Quicksand', sans-serif;
font-weight: 300;
background-color: rgba(0, 0, 0, .6);
position: absolute;
top: 0;
left: 0;
width: 100%;
text-align: center;
color: white;

}

nav ul {
  list-style-type: none;
  padding: 10px 30px 5px 0px;


}
nav li {
  display: inline;
  padding: 50px;

}
h1 {
  font-size: 70px;
  padding-bottom: 10px;
}
nav h2 {
  font-size: 20px;
}
.nav a {
  text-decoration: none;
  color:white;
  transition: 0.5s ease;
  text-decoration: none; 
  display: inline-block;
}


.nav a:after {
    content: '';
    display: block;
    border-bottom: 1px solid white;
    width: 0;
    transition: 0.5s ease;
}


.nav a:hover:after { 
  width: 100%; 
}
/* End Nav Bar */
/*Footer Start*/

footer {
  /*background-color: rgba(0, 0, 0, .8);*/
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 80px;
  color:white;
  padding: 10px 200px;
  margin-top: 800px;
  color: #777;
  font-family: 'Abel', sans-serif;
}
/*Footer End */

body {
  background: url("../img/dog2.jpg") no-repeat center;
  background-size: cover;
  margin-bottom:0;
  background-position: top;
}

.welcome {
  width: 600px;
  float: right;
  color: white;
  margin: 300px 100px;  
  font-family: 'Quicksand', sans-serif;
}
.welcome h2 {
  font-weight: 400;
  font-size: 40px;
}
.welcome p{
 text-align: justify;
}


















