body {
  background-color: #444444;
  font-family: 'Quicksand', sans-serif;
  width:1200px; 
  /*max-width: 100vw;*/

}
h3 {
  font-size: 40px;
  text-align: center;
  color: #699A9A;
}
.container {
  width: 95%;
  margin: 0 auto;

}
.testimonials {
  margin: 0 auto;
  margin-left: 70px;
}


#line1 {
    width: 70px;
    height: 47px;
    border-bottom: 5px solid black;
    border-radius: 3px;
    -webkit-transform:
        rotate(-60deg); 
    /*margin: 0 auto;*/
    float: left;
}
#line2 {
    width: 70px;
    height: 47px;
    border-bottom: 5px solid black;
    border-radius: 3px;
    -webkit-transform:
        rotate(60deg);
    float: left;
}

.lines {
  margin-top: 200px;
  margin-left: 35%;
  position: relative;
}
.lines2 {
  margin-top: 200px;
  margin-left: 35%;
  position: relative;
}




/*First set of 3*/


.testimonial-box{
  float: left;
  width:40%;
  min-width: 450px;
  margin: 2%;

}

#first{
  float: left;
  width: 45%;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#girl1{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 6px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/girl1.jpg") no-repeat center;
  background-size: cover;
  
}
#girl1 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#girl1 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#girl2{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/girl2.jpg") no-repeat center;
  background-size: cover;
  
}
#girl2 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#girl2 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 30px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#dog1{
  float: left;
  color: white; 
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/dog1.jpg") no-repeat center;
  background-size: cover;
  
}
#dog1 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#dog1 p {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/*End of the first set*/






/*Second set of 3*/




#third{
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

#clear {
  clear: both;
  height: 150px;
}

#lady1{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/lady1.jpg") no-repeat center;
  background-size: cover;
  
}
#lady1 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#lady1 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#man2{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 6px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/man1.jpg") no-repeat center;
  background-size: cover;
  
}
#man2 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#man2 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 60px 10px 80px 30px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#dog2{
  float: left;
  color: white; 
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/dog5.jpg") no-repeat center;
  background-size: cover;
  
}
#dog2 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#dog2 p {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/*End of the second set*/






/*Third set of 3*/
#second{
  float: right;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#clear {
  clear: both;
  height: 150px;
}

#guy1{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 6px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/guy1.jpg") no-repeat center;
  background-size: cover;
  
}
#guy1 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#guy1 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#guy2{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/guy2.jpg") no-repeat center;
  background-size: cover;
  
}
#guy2 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#guy2 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 30px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#dog3{
  float: left;
  color: white; 
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/dog4.jpg") no-repeat center;
  background-size: cover;
  
}
#dog3 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#dog3 p {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

/*End of the third set*/






/*Fourth set of 3*/
#fourth{
  float: right;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

#clear {
  clear: both;
  height: 150px;
}


#lady2{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 6px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/girl3.jpg") no-repeat center;
  background-size: cover;
  
}
#lady2 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#lady2 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#man3{
  float: left;
  color: white; 
  margin-top: 4px;
  margin-left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/man2.jpg") no-repeat center;
  background-size: cover;
  
}
#man3 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#man3 p {
  color: white;
  margin: 0 auto;
  width: 150px;
  padding: 70px 10px 80px 30px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

#dog4{
  float: left;
  color: white; 
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background:url("../img/dog6.jpg") no-repeat center;
  background-size: cover;
  
}
#dog4 p:hover{
  opacity: 1;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
        0 0 0.2em #000;
}
#dog4 p {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  padding: 70px 10px 80px 20px;
  opacity: 0;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
/*End of the third set*/

























