

<div id="wrapper">
    <h1>Browse Users</h1>

    <div class="user_info">
      
      <img class="thumb" src="img/am.jpg">

      <h2 class="user_name">Anthony</h2>
      <span class="info">dog</span>
      <span class="info">location</span>
      <span class="info">availability</span>

</div>