<div id="clear"></div>
<div class="container">

    <h3>Are you Interested in getting more information?</h3>
    <h3>Send us your details, and we will get in contact with you!</h3>
    <div id="around-form">
      <form method="POST" action="/contact" class="form">
        <div id = "username">
          <p>Username</p>
          <input type="text" name='username'>
        </div>
          </br>
        <div id="email">
          <p>Email</p>
          <input type="email" name="email_addr">
        </div>
          </br>
        <div id="msg">
          <p>Message</p>
          <textarea rows="10" cols="20" name="usr_msg"></textarea>
        </div>
          </br>
        <input type="submit">
      </form>
    </div>
</div>
