<div style ="margin-top: 80px">
  <h1>Contact Us</h1>

<p>Are you Interested in getting more information?</p>
<p>Send us your details, and we will get in contact with you!</p>

<form method="POST" action="/contact">
  <label for="username">Username</label>
  <input type="text" name='username'>
  <label for="email">Email</label>
  <input type="email" name="email_addr">
  <textarea name="usr_msg"></textarea>

  <input type="submit">
</form>


</div>