<div class="welcome">
    <h2> Welcome to Co-op Canine! </h2>
    <p>Anthony can write this part</p>
    <p>We are a service that matches people together based on compatiblity and simliarities in their "doggie wish lists."</p>
    <p>Wordssssssssssss.</p>
    <p></p>
    <p>You can explore our about page, or look over some past testamonials from our happy patrons.</p>
    <p> Or go to sign up and jump right in!</p>
    <p>We're here to help you find your perfect match, feel free to contact us.</p>
    <p>And as always have a PAWsome Day!</p>

</div>




