<div class="container">
   <div id="clear">
   </div>
  <h3>Check out some of our PAWsome matches!</h3>
    <div class="testimonials">
      <div class="testimonial-box">
        <div id="girl1"><p>"It was the best decision i've ever made"</p></div>
        <div id="girl2"><p>"I always wanted a dog! Co-op Canine gave me that ability!"</p></div>
        <div class="lines">  
          <div id="line2"></div>
          <div id="line1"></div>
        </div> <!-- end lines div -->
        <div id="dog1"><p>"Woof!"</p></div>
      </div> <!-- end first div -->

      <div class="testimonial-box">
        <div id="man2"><p>"I work a lot so being able to share the responsibility was great"</p></div>
        <div id="lady1"><p>"I love my new dog!"</p></div>
        
        <div class="lines">  
          <div id="line2"></div>
          <div id="line1"></div>
        </div> <!-- end lines div -->
        <div id="dog3"><p>"Yip Yip!"</p></div>
      </div> <!-- end first div --> 

    <div class="testimonial-box">
      <div id="guy1"><p>"It was a really awesome experience"</p></div>
      <div id="guy2"><p>"Got a super cool puppy!"</p></div>
      <div class="lines2">  
        <div id="line2"></div>
        <div id="line1"></div>
      </div> <!-- end lines div -->
      <div id="dog2"><p>"Bark!"</p></div>
    </div> <!-- end first div -->

     <div class="testimonial-box">
      <div id="lady2"><p>"Co-op Canine changed my life! I recommend it to all my friends."</p></div>
      <div id="man3"><p>"Owning a dog suddenly became possible with Co-op Canine."</p></div>
      <div class="lines2">  
        <div id="line2"></div>
        <div id="line1"></div>
      </div> <!-- end lines div -->
      <div id="dog4"><p>"Bow Wow!"</p></div>
    </div> <!-- end first div -->
  </div>
</div>


